$mineshaft: #333333;
$dove-grey: #666666;
$dusty-grey: #999999;
$platinum: #afafaf;
$silver: #cccccc;
$aluminium: #ebebeb;
$light-grey: #f4f4f4;
$white-smoke: #f9f9f9;
$digital-green: #428200;
$red: #fc0001;
$light-red: #e8605b;
$white: #ffffff;
$black: #000000;
