@charset "utf-8";
@import "styles/_colors";

html {
  font-size: 16px;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  background-color: $white-smoke;
  color: $mineshaft;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="checkbox"] {
  transform: scale(1.5);
  padding: 10px;
  cursor: pointer;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

tr {
  text-align: left;
  border-bottom: 1px solid $silver;
  user-select: none;
}

/* TODO: Refactoring needed so that width is set in columns config */
thead th:nth-child(1) {
  width: 5%;
}

thead th:nth-child(2) {
  width: 10%;
}

thead th:nth-child(3) {
  width: 10%;
}

thead th:nth-child(4) {
  width: 50%;
}

thead th:nth-child(5) {
  width: 25%;
}

th,
td {
  padding: 20px;
  text-align: left;
}
