@charset "utf-8";
@import "styles/colors";

html {
  font-size: 16px;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  background-color: $white-smoke;
  color: $mineshaft;
}

input[type="checkbox"] {
  transform: scale(1.5);
  padding: 10px;
  cursor: pointer;
}
